:root{
  --primary:#121212;
  --white:#fff;
  --background: #282c34;
  --cyanBlue: #08d9ff;
  --orange: #ec5130;
  --yellow: #d1bf49;
  --blue: #2d53e5;
  --green: #58a149;
  /* --gray: #f8f8f8; */
  --grayDark: #555555;
  --social-background:rgba(217, 217, 217, 0.1);
  --social-border:rgba(255, 255, 255, 0.5);
  --font-white:#f1f1f1;
  --track-background:#1f1e1e;
  --home-box1:rgba(248, 248, 248, 0.12);
  --home-box2:rgba(248, 248, 248, 0.24);
  --default-green:green;
  --default-red:red;
}

/*Custom Fonts*/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}
/*Default CSS*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background:var(--primary) !important;
  color:var(--white) !important;
  font-family: 'Centra',sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: var(--default-green);
}

p.danger {
	color: var(--default-red);
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: var(--primary);
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--white) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
.nav-link{color: var(--white) !important;opacity: 0.75;}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: var(--social-background);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid var(--social-border);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: var(--white);
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 18px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
  min-width:max-content;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--white);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: var(--primary);
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--white);
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid var(--white);
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: var(--white);
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: var(--white);
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: var(--white);
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

a svg{
  color:var(--white);
}

a:hover svg{
  color:var(--primary);
}

.gmail-icon{
  font-size: 2rem;
  width:45%;
  z-index:1;
  transition: 0.3s ease-in-out;
}

.github-icon{
  font-size: 2rem;
  width:50%;
  z-index:1;
  transition: 0.3s ease-in-out;
}

.navbar-collapse{
  background:var(--primary);
  border:1px solid;
}

.navbar .vvd{
  z-index:1;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grayDark);
  border: none; 
  border-radius: 6px;
  box-shadow: inset 0 0 0 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--track-background);
}

.vertical-nav{
  width:100px;
  /* height:200px;
  overflow-y: scroll;
  border: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh 1rem 1rem 1rem;
  position: fixed;
  top:0px;
  z-index: 99999;
}

.circle{
  width:80px;
  height:80px;
  background:var(--font-white);
  border-radius: 50%;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  color:var(--primary);
}

.circle img{
  width:40px;
}

.line{
  width:1px;
  height:80px;
  background:var(--font-white);
}

/* Home */
.home{
  margin-top:150px;
  width:100%;
  height:50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 30vh;
}

.home .image{
  background:var(--background);
  width:220px;
  height:220px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home img{
  width:100%;
  border-radius: 50%;

}

.home h4{
  margin-bottom:0;
}

.home .content{
  box-shadow: 0 1px 6px var(--home-box1), 0 1px 4px var(--home-box1);
  padding:3.2rem 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:10px;
}

.home .hmb{
  font-weight: 700;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 18px;
  font-size: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  width: max-content;
  z-index:1;
  text-decoration: none;
  align-self: center;
}

.home .hmb:hover {
  color: var(--primary);
  background:var(--white);
}

.home .buttons{
  display: flex;
  width:100%;
  justify-content: space-around;
  margin-top:10px;
  flex-wrap: wrap;
}

/* About */
.about .heading,.projects .heading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about h2,.projects h2{
  margin-bottom:0;
}

.about img,.projects img{
  width:50px;
}

.about-icons{
  display: flex;
  justify-content: center;
  gap:2rem;
  flex-wrap: wrap;
  padding:2rem 1rem;
}

.about-icons .skill{
  display: flex;
  flex-direction: column;
}

.about-icons .icon-img{
  height:46px;
}

.about .skill .rb img{
  width:42px;
}

/* Projects */
.project-card {
  display: flex;
  padding: 1rem;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card .project-img {
  width: 100%;
}

.badges,
.project-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#react-badge {
  background: var(--cyanBlue) !important;
}

#html-badge {
  background: var(--orange) !important;
}

#javascript-badge {
  background: var(--yellow) !important;
}

#css-badge {
  background: var(--blue) !important;
}

#nodejs-badge {
  background: var(--green) !important;
}

.project-card .wakatime img {
  width: 12em;
}

.project-card p {
  margin-top: 1rem;
}

.project-buttons .btn {
  font-weight: 600;
}

.content-according-to-order-1,.content-according-to-order-2{
  justify-content: center;
  text-align: center;
}

.project-card .row{
  gap:1.5rem;
}

.bradius img{
  border-radius: 20px;
}

/* Footer */
footer{
  margin-top:3rem;
  padding:1.5rem 2rem 1.5rem 2rem;
}

.input-div{
  display: flex;
  gap:10px;
  align-items: flex-start;
  margin-bottom:0.5rem;
  flex-direction: column;
}

.form-label{
  margin-bottom:0 !important;
  text-align: left;
}

.copyright{
  margin-top:1rem !important;
  display: flex;
  justify-content: center;
}

footer .d-flex{
  flex-direction: column;
  align-items: center;
  gap:10px;
}

footer span {
  width: fit-content;
}

.footer-social{
  display:flex;
  gap:10px;
  align-items: center;
  width:200px;
  margin-left:3.2rem;
}

footer .resume-icon{
  width:50%;
  z-index:1;
  transition: 0.3s ease-in-out;
  font-size: 1.2rem;
}

/* App */
.App {
  text-align: center;
}

/* Media Query */
@media (min-width: 992px) {
  .content-according-to-order-1{
    justify-content: flex-end;
    text-align: right;
  }
  
  .content-according-to-order-2{
    justify-content: flex-start;
    text-align: left;
  }
  .navbar-collapse{
    background:none;
    border:none;
  }
  }
